.root {
    background-color: rgb(237, 237, 237);
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: stretch;
  }
  
.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-top: 20px;
}

.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin: 20px;
    text-align: center;
}

.canvas {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    text-align: center;
}

.image {
    max-height: 80vh;
}

.upload-operations {
    text-align: right;
}

.back-next-buttons {
    display: inline-block;
    color: blue;
    cursor: pointer;
}

.image-breadcrumb {
    display: inline-block;
}

.upper-left {
    display: inline-block;
    width: 50%;
    text-align: left;
    font-weight: bold;
}

.upper-right {
    display: inline-block;
    text-align: right;
}

#imageCanvas {
    border:1px solid #c3c3c3;
}

#annotationCanvas {
    position: absolute;
    top: 30px;
    left: 417px;
}