.root {
    background-color: rgb(237, 237, 237);
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: stretch;
  }
  
.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-top: 20px;
}

.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin: 20px;
    text-align: center;
}

.canvas {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    text-align: center;
    grid-column: 1 / 2;
}

.image {
    max-height: 80vh;
}

.upload-operations {
    text-align: right;
}

.upload-button {
    width: 87px;
}

.back-next-buttons {
    display: inline-block;
    color: blue;
    cursor: pointer;
}

.image-breadcrumb {
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    justify-content: space-between;
}

.grid-item {
    display: inline-block;
    max-width: 200px;
}

.grid-item-center {
    display: inline-block;
    grid-column: 2 / 3;
}

.upper-left {
    display: inline-block;
    float: left;
    font-weight: bold;
}

.upper-right {
    float: right;
}

#imageCanvas {
    border:1px solid #c3c3c3;
}

.annotation {
    position: absolute;
    border: 1px solid #c3c3c3;
}

.annotation-text{
    border: none;
    background: none;
    color: #c3c3c3;
}

.annotation-display {
    margin-bottom: 5px;
}

.delete-annotation {
    color: blue;
    cursor: pointer;
    margin-left: 10px;
}

.carousel-elem {
    display: inline-block;
}

#carousel {
    text-align: center;
}

.thumbnail-container {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.thumbnail {
    width: 50px;
    height: 50px;
}

.tag-container {
    text-align: left;
    margin-bottom: 20px;
}

.tags {
    margin-bottom: 10px;
}